body
{
font-family:Verdana, Geneva, sans-serif;

}

a.login
{
text-decoration:none;
font-family:"lucida console", Monaco, monospace;
font-size:8pt;
color:#E850A8;

}

table
{
	font-size:12pt;	
}

textarea
{
height:200px;
width:600px;
}

#main
{
text-align:center;
height:auto;	
width:800px;	
margin:auto;
color:#D0AC11;
background-color:black;
border:2px solid;
border-radius:25px;
-webkit-box-shadow: 10px 10px 5px #888888; /* Safari */
box-shadow: 10px 10px 5px #888888;
}


#logo
{
height:80px;
width:510px;
}

#login
{
height:45;
width:780;
text-align:right;	
margin-left:auto;
margin-right:auto;
background-color:black;
margin-top:30px;
}

#header
{
text-align:right;
height:100px;
width:780px;
margin-left:auto;
margin-right:auto;
font-size:40pt;
background-color:black;
}

#tagline
{
font-family:"lucida console", Monaco, monospace;
font-style:italic;
text-align:right;
font-size:10pt;
color:#E850A8;
}

#signup
{
width:300px;
margin-left:auto;
margin-right:auto;
padding-top:50px;
padding-left:100px;
height:auto;
min-height:400px;
font-family:Verdana, Geneva, sans-serif;
font-color:white;
border:1px solid black;
background-color:#D0AC11;
}

#posts
{
text-align:left;
width:780px;
padding-top:8px;
margin-left:auto;
margin-right:auto;
height:auto;
min-height:400px;
}

#footer
{
text-align:center;
margin-top:5px;	
margin-left:auto;
margin-right:auto;
margin-bottom:5px;
height:50px;
width:780px;
}
